.hero
	color: #FFF
	text-align: center
	text-shadow: $normal-text-shadow
	min-height: 560px
	height: 96vh
	+phone
		min-height: 760px
	+tablet
		min-height: 820px
	.hero-body
		padding-top: 0


.nav
	background: none
	box-shadow: none!important
	height: $nav-height
	margin: 0 12px
	+desktop
		margin: 0 24px
	+widescreen
		margin: 0 48px

	.nav-title
		flex: 1
		+tablet
			flex: 0.5

	a.title
		color: #FFF
		font-size: $hero-title-size * 0.88
		+desktop
			font-size: $hero-title-size

	.nav-menu
		+widescreen
			padding-right: 12px

		a.nav-item
			color: rgba(#FFF, .92)!important
			font-size: $size-7
			padding: 10px
			+widescreen
				font-size: $size-6
				padding: 14px
			&:hover, &.is-active
				color: #FFF!important

	.nav-toggle
		height: $nav-height
		width: $nav-height
		&:hover
			background: none
			span
				box-shadow: 0 0 4px rgba(white, .46)
		span
			background: #FFF
			height: 2px

