$phone: 545px

$logo-font: 'Love Ya Like A Sister'
$hero-title-size: 96px
$burger-size: 80px

$section-padding: 80px 32px 120px

$title-text-shadow: 0 2px 4px rgba(black, .4)
$bold-text-shadow: 0 1px 2px rgba(black, .56)
$normal-text-shadow: 0 1px 1px rgba(black, .4)
