$phone: 545px

$logo-font: 'Love Ya Like A Sister'
$hero-title-size: 96px
$burger-size: 80px

$section-padding: 60px 32px

$title-text-shadow: 0 2px 4px rgba(black, .4)
$normal-text-shadow: 0 1px 1px rgba(black, .4)
